<section class="faq section" id="faq">
  <div class="container faq__wrap">
    <div class="faq__row">
      <div class="faq__text">
        <h2>FAQ</h2>
      </div>
      <div class="faq__items">
        <div class="faq-item">
          <button type="button" class="faq-item__btn btn-reset">
            <h4>How to mint the OceanVerse NFTs?</h4>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8H19V19H8V21H19V32H21V21H32V19H21V8Z" fill="white"/>
            </svg>
          </button>
          <div class="faq-item__content">
            <p class="text-large">
              The minting process takes place on our website. Just enter the amount of eggs you’d like to mint and press the button below.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button type="button" class="faq-item__btn btn-reset">
            <h4>How to connect my wallet?</h4>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8H19V19H8V21H19V32H21V21H32V19H21V8Z" fill="white"/>
            </svg>
          </button>
          <div class="faq-item__content">
            <p class="text-large">
              1. Using a computer. Download the Metamask plugin and install it into your browser following the link <a href="https://metamask.io/" target="_blank">https://metamask.io/</a>.
            </p>
            <p class="text-large">
              2. Using a phone. Download the Metamask built-in browser. Then launch the Metamask application, click the 3 lines on the top left menu in the application and select "Browser". It will open a web browser and you will be able to navigate back to our website.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button type="button" class="faq-item__btn btn-reset">
            <h4>Where can I find my NFT after the mint?</h4>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8H19V19H8V21H19V32H21V21H32V19H21V8Z" fill="white"/>
            </svg>
          </button>
          <div class="faq-item__content">
            <p class="text-large">
              The purchased NFTs will be stored in your Metamask wallet.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button type="button" class="faq-item__btn btn-reset">
            <h4>How many NFTs can I mint at once? </h4>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8H19V19H8V21H19V32H21V21H32V19H21V8Z" fill="white"/>
            </svg>
          </button>
          <div class="faq-item__content">
            <p class="text-large">
              The number of NFTs to mint at once depends on the current selling stage.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button type="button" class="faq-item__btn btn-reset">
            <h4>How much is the OceanVerse NFTs?</h4>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8H19V19H8V21H19V32H21V21H32V19H21V8Z" fill="white"/>
            </svg>
          </button>
          <div class="faq-item__content">
            <p class="text-large">
              The price range differs depending on the current selling stage. But one thing’s for sure — the earlier, the cheaper.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button type="button" class="faq-item__btn btn-reset">
            <h4>What are the use-cases for the OceanVerse NFTs? </h4>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8H19V19H8V21H19V32H21V21H32V19H21V8Z" fill="white"/>
            </svg>
          </button>
          <div class="faq-item__content">
            <p class="text-large">
              Except from being able to sell or hold your NFTs, you’ll also have a chance to join the game. The details yet are still to be announced.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button type="button" class="faq-item__btn btn-reset">
            <h4>How can I join the OceanVerse community?</h4>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8H19V19H8V21H19V32H21V21H32V19H21V8Z" fill="white"/>
            </svg>
          </button>
          <div class="faq-item__content">
            <p class="text-large">
              Follow us on <a href="https://twitter.com/ocean_verse" target="_blank">Twitter</a> or join our <a href="https://discord.gg/hM2S4UVCmz" target="_blank">Discord</a> to stay in touch!
            </p>
          </div>
        </div>
        <div class="faq-item">
          <button type="button" class="faq-item__btn btn-reset">
            <h4>What charities do you donate money to and how does it work? </h4>
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8H19V19H8V21H19V32H21V21H32V19H21V8Z" fill="white"/>
            </svg>
          </button>
          <div class="faq-item__content">
            <p class="text-large">
              We allocate 20% from each NFT purchase and donate it to the environmental protection funds. The list will be available on the website soon.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
