<section class="get section">
  <div class="get__wrap container">
    <div class="get__row">
      <div class="get__left">
        <h2>
          Get an early <br>
          access to the <br>
          project
        </h2>
        <div class="get-input">
          <input type="email" inputmode="email" placeholder="email@example.com">
          <button class="btn btn-reset" type="button">
            <span>Subscribe</span>
          </button>
          <div class="get-input__error text-small">Invalid email</div>
        </div>
      </div>
      <div class="get__images">
        <div class="get-fish get-fish--1">
          {{ imgSmall('get-fish-1', 'png', 'Fish', 'nolazy') }}
        </div>
        <div class="get-fish get-fish--2">
          {{ imgSmall('get-fish-2', 'png', 'Fish', 'nolazy') }}
        </div>
      </div>
    </div>
  </div>
</section>
